<a href="https://colab.research.google.com/github/Navaneeth1174/2105a42022/blob/main/Data%20pre-processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DRIVE MOUNTING

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

IMPORTANT LIBRARIES

In [4]:
import numpy as np
import math as mt
import random
import pandas as pd

LOAD DATA

In [5]:
socialads = pd.read_csv("/content/drive/MyDrive/Social Network.csv")
socialads.head()

  Social Media  Gender  Age  EstimatedSalary  Purchased
0     Facebook    Male   19            19000          0
1      Twitter    Male   35            20000          0
2    Instagram  Female   26            43000          0
3      Linkdin  Female   27            57000          0
4     Facebook    Male   19            76000          0

CHECKING FOR NULL VALUES

In [6]:
print(socialads.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Social Media     400 non-null    object
 1   Gender           399 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(3), object(2)
memory usage: 15.8+ KB
None

Statistical Information of Data

In [7]:
print(socialads.describe())

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    40.175000     69742.500000    0.357500
std     31.709511     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     30.000000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max    480.000000    150000.000000    1.000000

BINARY CONVERSION

In [8]:

varlist =  ['Gender']
def binary_map(x):
    return x.map({'Female': 1, 'Male': 0})
socialads[varlist] = socialads[varlist].apply(binary_map)
socialads

    Social Media  Gender  Age  EstimatedSalary  Purchased
0       Facebook     0.0   19            19000          0
1        Twitter     0.0   35            20000          0
2      Instagram     1.0   26            43000          0
3        Linkdin     1.0   27            57000          0
4       Facebook     0.0   19            76000          0
..           ...     ...  ...              ...        ...
395     Facebook     1.0   46            41000          1
396      Twitter     0.0   51            23000          1
397    Instagram     1.0   50            20000          1
398      Linkdin     0.0   36            33000          0
399     Facebook     1.0   49            36000          1

[400 rows x 5 columns]

CATEGORIAL CONVERSION

In [9]:
status = pd.get_dummies(socialads['Social Media'], drop_first = True)
socialads = pd.concat([socialads, status], axis = 1)
socialads.drop(['Social Media'], axis = 1, inplace = True)
socialads

     Gender  Age  EstimatedSalary  Purchased  Instagram  Linkdin  Twitter
0       0.0   19            19000          0          0        0        0
1       0.0   35            20000          0          0        0        1
2       1.0   26            43000          0          1        0        0
3       1.0   27            57000          0          0        1        0
4       0.0   19            76000          0          0        0        0
..      ...  ...              ...        ...        ...      ...      ...
395     1.0   46            41000          1          0        0        0
396     0.0   51            23000          1          0        0        1
397     1.0   50            20000          1          1        0        0
398     0.0   36            33000          0          0        1        0
399     1.0   49            36000          1          0        0        0

[400 rows x 7 columns]

DETECTION OF OUTLINERS

In [10]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 1
    mean = np.mean(data)
    std = np.std(data)
    #print(mean, std)
    for i in data:
        #print(i)
        z_score = (i-mean)/std
        if (np.abs(z_score) > thres):
            outliers.append(i)
    return outliers# Driver code

In [11]:
sample_outliers_Age = detect_outliers_zscore(socialads['Age']) 
print("Outliers in Age column from Z-scores method: ", sample_outliers_Age)

Outliers in Age column from Z-scores method:  [480, 270, 370]

In [12]:
from scipy.stats import zscore
z1=np.abs(zscore(socialads['Age']))
socialads['Zscore_Age']=z1
outliers_Age=len(socialads[socialads['Zscore_Age']>3])
data_z = socialads[socialads['Zscore_Age']<3]
socialads=data_z.drop(['Zscore_Age'], axis=1)
socialads

     Gender  Age  EstimatedSalary  Purchased  Instagram  Linkdin  Twitter
0       0.0   19            19000          0          0        0        0
1       0.0   35            20000          0          0        0        1
2       1.0   26            43000          0          1        0        0
3       1.0   27            57000          0          0        1        0
4       0.0   19            76000          0          0        0        0
..      ...  ...              ...        ...        ...      ...      ...
395     1.0   46            41000          1          0        0        0
396     0.0   51            23000          1          0        0        1
397     1.0   50            20000          1          1        0        0
398     0.0   36            33000          0          0        1        0
399     1.0   49            36000          1          0        0        0

[397 rows x 7 columns]

**MISSING** **VALUES** **TREATMENT**

NEW SELECTION

In [16]:
print(socialads.isnull().sum())

Gender             1
Age                0
EstimatedSalary    0
Purchased          0
Instagram          0
Linkdin            0
Twitter            0
dtype: int64

**DATA NORMALIZATION**

In [18]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
socialads_norm = scaler.fit_transform(socialads)
socialads_norm

array([[0.        , 0.02380952, 0.02962963, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.4047619 , 0.03703704, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.19047619, 0.20740741, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.76190476, 0.03703704, ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.42857143, 0.13333333, ..., 0.        , 1.        ,
        0.        ],
       [1.        , 0.73809524, 0.15555556, ..., 0.        , 0.        ,
        0.        ]])

DATA SPLIT

In [19]:
from sklearn.model_selection import train_test_split
dataframe = socialads.values
X, y = dataframe[:, :-1], dataframe[:, -1]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 10)
x_train

array([[1.00e+00, 2.60e+01, 8.40e+04, 0.00e+00, 0.00e+00, 0.00e+00],
       [0.00e+00, 2.70e+01, 8.80e+04, 0.00e+00, 1.00e+00, 0.00e+00],
       [1.00e+00, 4.40e+01, 3.90e+04, 0.00e+00, 0.00e+00, 0.00e+00],
       ...,
       [0.00e+00, 2.90e+01, 8.00e+04, 0.00e+00, 0.00e+00, 1.00e+00],
       [0.00e+00, 3.00e+01, 1.70e+04, 0.00e+00, 0.00e+00, 1.00e+00],
       [1.00e+00, 4.70e+01, 1.44e+05, 1.00e+00, 1.00e+00, 0.00e+00]])

**THANK YOU**