<a href="https://colab.research.google.com/github/Navaneeth1174/2105a42022/blob/main/PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING LIBRARIES**

In [ ]:
import numpy as np
import pandas as pd

**MOUNTING GOOGLE DRIVE**

In [ ]:
from google.colab import drive
data = pd.read_csv("/content/drive/MyDrive/dup.csv")

**LOAD DATA**

In [ ]:
data.head()

,Game,Year,Genre,Publisher,MULTI PLAYER,ROLE PLAY,North America,Europe,Japan,Rest of World,Global
0,Tekken 7,2017,Fighting,Namco Bandai Games,NO,YES,0.30,0.23,0.00,0.05,0.58
1,Grand Theft Auto V,2014,Action,Rockstar Games,NO,YES,4.70,3.25,0.01,0.76,8.72
2,Call of Duty: Black Ops 3,2015,Shooter,Activision,YES,YES,4.63,2.04,0.02,0.68,7.37
3,Call of Duty: WWII,2017,Shooter,Activision,YES,YES,3.75,1.91,0.00,0.57,6.23
4,Red Dead Redemption 2,2018,Action-Adventure,Rockstar Games,YES,YES,3.76,1.47,0.00,0.54,5.77

CHECKING FOR NULL VALUES

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           207 non-null    object
 1   Year           207 non-null    int64
 2   Genre          207 non-null    object
 3   Publisher      207 non-null    object
 4   MULTI PLAYER   207 non-null    object
 5   ROLE PLAY      207 non-null    object
 6   North America  207 non-null    float64
 7   Europe         207 non-null    float64
 8   Japan          207 non-null    float64
 9   Rest of World  207 non-null    float64
 10  Global         207 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 17.9+ KB

In [ ]:
print(data.describe())

              Year  North America      Europe       Japan  Rest of World  \
count   207.000000     207.000000  207.000000  207.000000     207.000000
mean   2015.425121       0.734831    0.378213    0.002319       0.111498
std       1.362802       0.845703    0.491969    0.006857       0.126100
min    2013.000000       0.010000    0.000000    0.000000       0.010000
25%    2014.000000       0.235000    0.090000    0.000000       0.030000
50%    2015.000000       0.410000    0.190000    0.000000       0.060000
75%    2017.000000       0.870000    0.430000    0.000000       0.135000
max    2018.000000       4.700000    3.250000    0.040000       0.760000

           Global
count  207.000000
mean     1.226425
std      1.388059
min      0.190000
25%      0.365000
50%      0.700000
75%      1.550000
max      8.720000

**Binary Conversion**

In [ ]:
varlist =  ['ROLE PLAY']
def binary_map(x):
    return x.map({'YES': 1, 'NO': 0})
data[varlist] = data[varlist].apply(binary_map)

varlist1 =  ['MULTI PLAYER']
def binary_map(x):
    return x.map({'YES': 1, 'NO': 0})
data[varlist1] = data[varlist1].apply(binary_map)
data

,Game,Year,Genre,Publisher,MULTI PLAYER,ROLE PLAY,North America,Europe,Japan,Rest of World,Global
0,Tekken 7,2017,Fighting,Namco Bandai Games,0,1,0.30,0.23,0.00,0.05,0.58
1,Grand Theft Auto V,2014,Action,Rockstar Games,0,1,4.70,3.25,0.01,0.76,8.72
2,Call of Duty: Black Ops 3,2015,Shooter,Activision,1,1,4.63,2.04,0.02,0.68,7.37
3,Call of Duty: WWII,2017,Shooter,Activision,1,1,3.75,1.91,0.00,0.57,6.23
4,Red Dead Redemption 2,2018,Action-Adventure,Rockstar Games,1,1,3.76,1.47,0.00,0.54,5.77
...,...,...,...,...,...,...,...,...,...,...,...
202,theHunter: Call of the Wild,2017,Shooter,Astragon,1,1,0.18,0.00,0.00,0.02,0.21
203,Sleeping Dogs,2014,Action-Adventure,Square Enix,1,1,0.10,0.09,0.00,0.02,0.20
204,Project CARS 2,2017,Racing,Namco Bandai Games,1,0,0.01,0.18,0.00,0.01,0.20
205,Batman: Return to Arkham,2016,Action,Warner Bros. Interactive Entertainment,1,1,0.12,0.06,0.00,0.02,0.20
206,Dishonored,2015,Action,Bethesda Softworks,1,1,0.13,0.05,0.00,0.02,0.19

**Categorial Conversion**

In [ ]:
data = data.drop(labels='Game', axis=1)

In [ ]:
status = pd.get_dummies(data['Publisher'], drop_first = True)
data = pd.concat([data, status], axis = 1)
data.drop(['Publisher'], axis = 1, inplace = True)

In [ ]:
status = pd.get_dummies(data['Genre'], drop_first = True)
data = pd.concat([data, status], axis = 1)
data.drop(['Genre'], axis = 1, inplace = True)

In [ ]:
status = pd.get_dummies(data['Year'], drop_first = True)
data = pd.concat([data, status], axis = 1)
data.drop(['Year'], axis = 1, inplace = True)
data

,MULTI PLAYER,ROLE PLAY,North America,Europe,Japan,Rest of World,Global,2K Sports,505 Games,Activision,...,Role-Playing,Shooter,Simulation,Sports,Strategy,2014,2015,2016,2017,2018
0,0,1,0.30,0.23,0.00,0.05,0.58,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,4.70,3.25,0.01,0.76,8.72,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,1,4.63,2.04,0.02,0.68,7.37,0,0,1,...,0,1,0,0,0,0,1,0,0,0
3,1,1,3.75,1.91,0.00,0.57,6.23,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,1,3.76,1.47,0.00,0.54,5.77,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,1,1,0.18,0.00,0.00,0.02,0.21,0,0,0,...,0,1,0,0,0,0,0,0,1,0
203,1,1,0.10,0.09,0.00,0.02,0.20,0,0,0,...,0,0,0,0,0,1,0,0,0,0
204,1,0,0.01,0.18,0.00,0.01,0.20,0,0,0,...,0,0,0,0,0,0,0,0,1,0
205,1,1,0.12,0.06,0.00,0.02,0.20,0,0,0,...,0,0,0,0,0,0,0,1,0,0
206,1,1,0.13,0.05,0.00,0.02,0.19,0,0,0,...,0,0,0,0,0,0,1,0,0,0

**DATA SPLIT**

In [ ]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(data, train_size = 0.7, test_size = 0.3, random_state = 100)

**Data Normalization**

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['North America', 'Europe', 'Japan', 'Rest of World', 'Global']
df_train[num_vars] = scaler.fit_transform(df_train[num_vars])
df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

df_train

,MULTI PLAYER,ROLE PLAY,North America,Europe,Japan,Rest of World,Global,2K Sports,505 Games,Activision,...,Role-Playing,Shooter,Simulation,Sports,Strategy,2014,2015,2016,2017,2018
110,1,1,0.078891,0.067692,0.00,0.066667,0.055100,0,0,0,...,0,0,0,0,0,1,0,0,0,0
168,1,1,0.029851,0.033846,0.00,0.026667,0.011723,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,1,1.000000,1.000000,0.25,1.000000,1.000000,0,0,0,...,0,0,0,0,0,1,0,0,0,0
167,1,1,0.036247,0.027692,0.00,0.026667,0.012896,0,0,0,...,0,1,0,0,0,0,0,0,1,0
192,1,1,0.034115,0.009231,0.00,0.013333,0.003517,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1,1,0.117271,0.046154,0.00,0.093333,0.070340,0,0,0,...,1,0,0,0,0,0,0,1,0,0
103,1,1,0.093817,0.058462,0.00,0.080000,0.059789,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,1,1,0.134328,0.129231,0.00,0.120000,0.113716,0,0,0,...,0,0,0,0,0,1,0,0,0,0
24,1,1,0.343284,0.258462,0.00,0.320000,0.295428,0,0,0,...,0,1,0,0,0,0,1,0,0,0
8,0,1,0.624733,0.498462,0.50,0.586667,0.567409,0,0,0,...,1,0,0,0,0,0,1,0,0,0

**Input - Output Data Split**

In [ ]:
y_train = df_train.pop('Global')
X_train = df_train
y_test = df_test.pop('Global')
X_test = df_test

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

LinearRegression()

In [ ]:
m = regressor.coef_
c = regressor.intercept_,
print("Estimated model weights, m:" , m)
print("Estimated model intercept, c:" , c)

Estimated model weights, m: [-4.33135042e-04 -7.15605785e-04  6.07640986e-01  4.00706150e-01
  5.07984974e-03  1.09248321e-02  9.98395013e-07  1.68487972e-04
 -5.50073514e-05  8.07572525e-04  6.75050626e-06 -4.22460411e-04
  7.04380190e-04 -3.77462705e-04 -8.51442132e-04 -2.71164231e-04
 -1.76987187e-04 -1.12083125e-04 -1.75371329e-04 -1.80411242e-16
 -2.64253494e-04 -4.85722573e-16 -1.78182442e-04  1.06858966e-15
  2.19269047e-15 -1.08665929e-03  7.04934702e-07  3.92394761e-04
 -1.90474605e-04  1.16426586e-04 -4.92602955e-05  2.84009140e-04
 -6.52408928e-05 -3.48066142e-04 -8.18789481e-16  9.02056208e-16
 -1.60236756e-04 -3.76999776e-04 -3.46626916e-04 -6.10901333e-04
 -5.25939196e-04  5.23755655e-04  3.49266653e-04  1.65487098e-04
 -9.56091230e-05 -4.54075065e-04 -2.82063341e-04 -1.76638962e-04
  5.33746541e-04 -1.33232997e-04  0.00000000e+00 -3.80633479e-04
 -1.12143804e-04 -4.22570995e-05 -1.62248123e-05  1.44677418e-04]
Estimated model intercept, c: (-0.0192923326949431,)

In [ ]:
y_pred_test =  regressor.predict(X_test)
y_pred_train =  regressor.predict(X_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [ ]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.0005273164092009648
Mean square error 2.7806259541259936e-07
Mean absolute error 0.00039937526461715473

In [ ]:
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.009033605713912752
Mean square error 8.160603219443712e-05
Mean absolute error 0.005293981311272853

In [ ]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))