<a href="https://colab.research.google.com/github/Navaneeth1174/2105a42022/blob/main/PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING LIBRARIES**

In [ ]:
import numpy as np
import pandas as pd

**MOUNTING GOOGLE DRIVE**

In [ ]:
from google.colab import drive
data = pd.read_csv("/content/drive/MyDrive/dup.csv")

**LOAD DATA**

In [ ]:
data.head()

,Game,Year,Genre,Publisher,MULTI PLAYER,ROLE PLAY,North America,Europe,Japan,Rest of World,Global
0,Tekken 7,2017,Fighting,Namco Bandai Games,NO,YES,0.30,0.23,0.00,0.05,0.58
1,Grand Theft Auto V,2014,Action,Rockstar Games,NO,YES,4.70,3.25,0.01,0.76,8.72
2,Call of Duty: Black Ops 3,2015,Shooter,Activision,YES,YES,4.63,2.04,0.02,0.68,7.37
3,Call of Duty: WWII,2017,Shooter,Activision,YES,YES,3.75,1.91,0.00,0.57,6.23
4,Red Dead Redemption 2,2018,Action-Adventure,Rockstar Games,YES,YES,3.76,1.47,0.00,0.54,5.77

CHECKING FOR NULL VALUES

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           207 non-null    object
 1   Year           207 non-null    int64
 2   Genre          207 non-null    object
 3   Publisher      207 non-null    object
 4   MULTI PLAYER   207 non-null    object
 5   ROLE PLAY      207 non-null    object
 6   North America  207 non-null    float64
 7   Europe         207 non-null    float64
 8   Japan          207 non-null    float64
 9   Rest of World  207 non-null    float64
 10  Global         207 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 17.9+ KB

In [ ]:
data[:] = np.nan_to_num(data)

In [ ]:
print(data.describe())

              Year  North America      Europe       Japan  Rest of World  \
count   207.000000     207.000000  207.000000  207.000000     207.000000
mean   2015.425121       0.734831    0.378213    0.002319       0.111498
std       1.362802       0.845703    0.491969    0.006857       0.126100
min    2013.000000       0.010000    0.000000    0.000000       0.010000
25%    2014.000000       0.235000    0.090000    0.000000       0.030000
50%    2015.000000       0.410000    0.190000    0.000000       0.060000
75%    2017.000000       0.870000    0.430000    0.000000       0.135000
max    2018.000000       4.700000    3.250000    0.040000       0.760000

           Global
count  207.000000
mean     1.226425
std      1.388059
min      0.190000
25%      0.365000
50%      0.700000
75%      1.550000
max      8.720000

**Binary Conversion**

In [ ]:
varlist =  ['ROLE PLAY']
def binary_map(x):
    return x.map({'YES': 1, 'NO': 0})
data[varlist] = data[varlist].apply(binary_map)

varlist1 =  ['MULTI PLAYER']
def binary_map(x):
    return x.map({'YES': 1, 'NO': 0})
data[varlist1] = data[varlist1].apply(binary_map)
data

,Game,Year,Genre,Publisher,MULTI PLAYER,ROLE PLAY,North America,Europe,Japan,Rest of World,Global
0,Tekken 7,2017,Fighting,Namco Bandai Games,0,1,0.30,0.23,0.00,0.05,0.58
1,Grand Theft Auto V,2014,Action,Rockstar Games,0,1,4.70,3.25,0.01,0.76,8.72
2,Call of Duty: Black Ops 3,2015,Shooter,Activision,1,1,4.63,2.04,0.02,0.68,7.37
3,Call of Duty: WWII,2017,Shooter,Activision,1,1,3.75,1.91,0.00,0.57,6.23
4,Red Dead Redemption 2,2018,Action-Adventure,Rockstar Games,1,1,3.76,1.47,0.00,0.54,5.77
...,...,...,...,...,...,...,...,...,...,...,...
202,theHunter: Call of the Wild,2017,Shooter,Astragon,1,1,0.18,0.00,0.00,0.02,0.21
203,Sleeping Dogs,2014,Action-Adventure,Square Enix,1,1,0.10,0.09,0.00,0.02,0.20
204,Project CARS 2,2017,Racing,Namco Bandai Games,1,0,0.01,0.18,0.00,0.01,0.20
205,Batman: Return to Arkham,2016,Action,Warner Bros. Interactive Entertainment,1,1,0.12,0.06,0.00,0.02,0.20
206,Dishonored,2015,Action,Bethesda Softworks,1,1,0.13,0.05,0.00,0.02,0.19

**Categorial Conversion**

In [ ]:
data = data.drop(labels='Game', axis=1)

In [ ]:
data = data.drop(labels='Publisher', axis=1)

In [ ]:
data = data.drop(labels='Year', axis=1)

In [ ]:
status = pd.get_dummies(data['Genre'], drop_first = True)
data = pd.concat([data, status], axis = 1)
data.drop(['Genre'], axis = 1, inplace = True)

**DATA SPLIT**

In [ ]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(data, train_size = 0.7, test_size = 0.3, random_state = 100)

**Data Normalization**

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = ['North America', 'Europe', 'Japan', 'Rest of World', 'Global']
df_train[num_vars] = scaler.fit_transform(df_train[num_vars])
df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

df_train

,MULTI PLAYER,ROLE PLAY,North America,Europe,Japan,Rest of World,Global,Action-Adventure,Adventure,Fighting,MMO,Misc,Music,Platform,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
110,1,1,0.078891,0.067692,0.00,0.066667,0.055100,1,0,0,0,0,0,0,0,0,0,0,0,0
168,1,1,0.029851,0.033846,0.00,0.026667,0.011723,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,1,1.000000,1.000000,0.25,1.000000,1.000000,0,0,0,0,0,0,0,0,0,0,0,0,0
167,1,1,0.036247,0.027692,0.00,0.026667,0.012896,0,0,0,0,0,0,0,0,0,1,0,0,0
192,1,1,0.034115,0.009231,0.00,0.013333,0.003517,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1,1,0.117271,0.046154,0.00,0.093333,0.070340,0,0,0,0,0,0,0,0,1,0,0,0,0
103,1,1,0.093817,0.058462,0.00,0.080000,0.059789,0,0,0,0,0,0,0,1,0,0,0,0,0
67,1,1,0.134328,0.129231,0.00,0.120000,0.113716,0,0,0,0,0,0,0,0,0,0,0,0,0
24,1,1,0.343284,0.258462,0.00,0.320000,0.295428,0,0,0,0,0,0,0,0,0,1,0,0,0
8,0,1,0.624733,0.498462,0.50,0.586667,0.567409,0,0,0,0,0,0,0,0,1,0,0,0,0

**Input - Output Data Split**

In [ ]:
y_train = df_train.pop('Global')
X_train = df_train
y_test = df_test.pop('Global')
X_test = df_test

In [ ]:
def check_nan_inf(data):
    for col in data.columns:
        if data[col].isnull().any():
            print(col, 'has nan')
        else: print('no')
        if np.isinf(data[col]).any():
            print(col, 'has inf')
        else :print('no')

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
m = regressor.coef_
c = regressor.intercept_,
print("Estimated model weights, m:" , m)
print("Estimated model intercept, c:" , c)

Estimated model weights, m: [-3.83941033e-04 -6.46125492e-04  6.04154613e-01  3.99426669e-01
  4.98576377e-03  1.57473204e-02 -3.12385598e-04 -2.38655287e-04
 -5.15576389e-04  2.81710234e-04  2.07668032e-04  2.00292329e-04
  6.35116248e-05 -3.54046350e-04 -1.45382804e-04 -5.10443117e-05
  7.51979415e-04 -3.70558746e-05  0.00000000e+00]
Estimated model intercept, c: (-0.019689767636597078,)

In [ ]:
y_pred_test =  regressor.predict(X_test)
y_pred_train =  regressor.predict(X_train)

In [ ]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.0005789134367105425
Mean square error 3.351407672040114e-07
Mean absolute error 0.0004617640733665531

In [ ]:
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.009034692333764069
Mean square error 8.162566556577523e-05
Mean absolute error 0.005328621119091321

In [ ]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

In [ ]:
list_of_columns = data.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['Global'], axis='columns', inplace=True)

input_data.at[0, 'MULTI PLAYER'] = input('enter MULTIPLAYER')
input_data.at[0, 'ROLE PLAY'] = input('enter ROLE PLAY')
input_data.at[0, 'Action'] = input('enter ACTION')
input_data.at[0, 'Sports'] = input('enter SPORTS')
input_data.at[0, 'Stimulation'] = input('enter STIMULATION')
input_data.at[0, 'Strategy'] = input('enter STRATEGY')
input_data.at[0, 'North America'] = float(input('enter NA'))
input_data.at[0, 'Europe'] = float(input('enter E'))
input_data.at[0, 'Japan'] = float(input('enter j'))





# Converting the categorical variable into numerical
varlist =  ['MULTI PLAYER', 'ROLE PLAY', 'Action', 'Sports', 'Stimulation','Strategy']

# Defining the map function
def binary_map(x):
    return x.map({'yes': 1, "no": 0})

# Applying the function to the data list
input_data[varlist] = input_data[varlist].apply(binary_map)


input_data['North America']=(input_data['North America']-data['North America'].min())/(data['North America'].max()-data['North America'].min())
input_data['Europe']=(input_data['Europe']-data['Europe'].min())/(data['Europe'].max()-data['Europe'].min())
input_data['Japan']=(input_data['Japan']-data['Japan'].min())/(data['Japan'].max()-data['Japan'].min())


y_pred =  regressor.predict(input_data)
price=y_pred*(data['Global'].max()-data['Global'].min())+data['Global'].min()
print('Predict.ed House Price=',Global)

enter MULTIPLAYERyes
enter ROLE PLAYyes
enter ACTIONyes
enter SPORTSno
enter STIMULATIONno
enter STRATEGYno
enter NA1
enter E0
enter j1

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Action
- Stimulation
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

ValueError: ignored